.about-me {
  overflow: hidden;
  .content {
    display: flex;
    justify-content: center;
    .text {
      flex: 2;
    } 
    .circlles {
      flex: 1;
    }
    .text {
      h3 {
        position: relative;
        padding-bottom: 7px;
        font-size: 20px;
        margin-bottom: 40px;
        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 44px;
          height: 2px;
          background-color: $ctaGreen;
        }
      }
      p:first-of-type {
        font-size: 26px;
        font-weight: bold;
      }
      p:last-of-type {
        margin-top: 34px;
        color: $gray;
        line-height: 1.8;
        width: 94%;
      }
    }
    .circlles {
      display: flex; 
      justify-content: center;
      position: relative;
      .circlle {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        .text {
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          p {
            margin: 0;
            color: $white;
          }
          p:first-child {
            font-weight: bold;
            font-size: 30px;
          }
          p:last-child {
            font-size: 13px;
          }
        }
      }
      .one {
        background-color: #BE2EDD;
        top: 0;
        left: -28px;
      }
      .two {
        background-color: #F9CA24;
        top: 0;
        right: 0;
      }
      .third {
        background-color: #FF7675;
        bottom: -60px;
      }
    }
  }
}