.about-me {
  overflow: hidden;
  .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .text {
      flex: 2;
    } 
    .circlles {
      flex: 1;
    }
    .text {
      p:first-of-type {
        font-size: 26px;
        font-weight: bold;
      }
      p:last-of-type {
        margin-top: 34px;
        color: $gray;
        line-height: 1.8;
        width: 94%;
      }
    }
    .circlles {
      display: flex; 
      justify-content: center;
      position: relative;
      .circlle {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        .text {
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          p {
            margin: 0;
            color: $white;
          }
          p:first-child {
            font-weight: bold;
            font-size: 30px;
          }
          p:last-child {
            font-size: 13px;
          }
        }
      }
      .one {
        background-color: #BE2EDD;
        top: 0;
        left: -28px;
      }
      .two {
        background-color: #F9CA24;
        top: 0;
        right: 0;
      }
      .third {
        background-color: #FF7675;
        bottom: -60px;
      }
    }
  }
}

// Small 
@media (min-width: 375px) and (max-width: 768px) {
  .about-me {
    .content { 
      padding: 200px 0;
      flex-flow: column wrap;
      gap: 185px;
      .circlles {
        .one {
          left: 60px;
        }
        .two {
          right: 60px;
        }
      }
    }
  }
}
// Medium 
@media (min-width: 768px) and (max-width: 992px){
  .about-me {
    .content {
      gap: 100px;
      .circlles {
        .one {
          left: 97px;
        }
        .two {
          right: 80px;
        }
        .third {
          bottom: 25px;
        }
      }
    }
  }
}