.news{
  overflow: hidden;
  .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    .card {
      .img {
        img {
          max-width: 100%;
        }
      }
      .text {
        padding-top: 10px;
        padding-right: 12px;
        padding-bottom: 28px;
        padding-left: 28px;
        .date {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0 0 20px;
          i {
            margin-right: 5px;
          }
          h3, p:first-of-type {
            font-size: 13px
          }
        }
        h2 {
          margin-bottom: 15px;
          font-weight: bold;
          font-size: 18px;
        }
        > p {
          line-height: 1.6;
          color: $gray;
          margin-bottom: 12px;
        }
        p:last-of-type {
          font-size: 18px;
          margin: 0;
        }
        .active {
          color: $ctaGreen;
        }
      }
    }
  }
}

// Small 
@media (min-width: 375px) and (max-width: 576px) {
  .news {
    .row {
      grid-template-columns: 1fr;
    }
  }
}

// Medium 
@media (min-width: 575px) and (max-width: 992px) {
  .news {
    .row {
      justify-content: center;
      grid-template-columns: 1fr 1fr;
    }
  }
}