.skills {
  overflow: hidden;
  background-color: $ctaGreen;
  color: #fff;
  h1 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 68px;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    .col-1 {
      > span {
        display: block;
        margin-bottom: 5px;
      }
      .progress {
        overflow: hidden;
        width: 400px;
        height: 15px;
        background-color: rgba(255, 255, 255, 0.16);
        margin-bottom: 30px;
        border-radius: 10px;
        > span {
          display: block;
          height: 100%;
          width: 0;
          background-color: #fff;
          position: relative;
          z-index: 1;
          color: $ctaGreen;
          text-align: right;
          font-size: 14px;
          padding-right: 10px;
          font-weight: 600;
        }
      }
    }
  }
}

@media (min-width: 380px) and (max-width: 992px) {
  .skills {
    .content {
      text-align: center;
      grid-template-columns: 1fr;
      .progress {
        margin: 0 auto;
      }
    }
  }
}
