// Colors

$ctaGreen: #00B894;
$db: #323232;
$white: #fff;
$gray: #707070;



// Helping Clasess 

.pd {
  padding: 150px 0;
  margin: 150px 0;
}


.heading {
  text-align: center;
  h1 {
    font-size: 42px;
    padding-bottom: 130px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 38%;
      bottom: 149px;
      text-align: center;
      display: block;
      margin: 0 auto;
      width: 437px;
      height: 10px;
      background-color: #00B894;
      filter: blur(19px);
    }
  }
}

// Small 
@media (min-width: 375px) and (max-width: 576px) {
  .heading {
    h1 {
      &::after {
        width: 438px;
        left: 13%;
      }
    }
  }
}

// Medium 
@media (min-width: 575px) and (max-width: 768px) {
  .heading {
    h1 {
      &::after {
        width: 437px;
        left: 18%;    
      }
    }
  }
}

// Large 
@media (min-width: 767px) and (min-width: 992px) {
  .heading {
    h1 {
      &::after {
        width: 493px;
        left: 35%;
      }
    }
  }
}
// very Large 
@media (min-width: 993px) and (max-width: 1200px) {
  .heading {
    h1 {
      &::after {
        width: 438px;
        left: 30%;
      }
    }
  }
}
